.icone{
    width:20px;
   margin : 0 8px 8px 0px;
  
  }
  .avatar {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 30px;
  }
  #home {
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
   
    margin-top: 120px;
  }
  
  h1, h2 {
    font-weight: normal;
     margin-bottom: 30px;
  }
  
  ul {
    list-style-type: none;
    
  }
  
  .contact {
    display: inline-block;
    margin:30px 10px 0 20px ;
   
    
  }
  
  .links {
    font-size: 20px;
    color: #2db7e0  !important ;
    
  }








  #name{
    margin-top:120px;
    padding-bottom: 50px;
}
#about{
  
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

}




nav{
    text-align: end;
}
.navbar-nav > li{
  margin-left:30px;
  margin-right:30px;
}
.lines{
     border-bottom: 0.5px solid #9d9e9e;
}



.thumb{
    
    width: 120px;
}
.project{

    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #2c3e50;

}


#fluid{
    margin-top: 10px
}

#resume{

    padding-top: 60px;
    text-align: center;

}
#resume p {
    font-size: 20px;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #2c3e50;

}